{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Update</h1>

    {{ form_start(updateForm, {'attr': {'class': 'test'}}) }}
        <div class="main_form">
            <div class="content_form">
                <div class="presentation">
                    <div class="username">
                        {{ form_label(updateForm.username) }}
                        {{ form_widget(updateForm.username) }}
                    </div>
                    <div class="mail">
                        {{ form_label(updateForm.mail) }}
                        {{ form_widget(updateForm.mail) }}
                    </div>
                    <div class="dob">
                        {{ form_label(updateForm.dob, 'Date de naissance')  }}
                        {{ form_widget(updateForm.dob)  }}
                    </div>
                    <div class="description">
                        {{ form_label(updateForm.description) }}
                        {{ form_widget(updateForm.description) }}
                    </div>
                    <div class="avatar">
                        {{ form_label(updateForm.avatar) }}
                        {{ form_widget(updateForm.avatar) }}
                    </div>
                </div>

                <div class="caracteristiques">
                    <div class="hair">
                        <div class="EntityHair">
                            {{ form_label(updateForm.hair) }}
                            {{ form_widget(updateForm.hair) }}
                        </div>
                        <div class="NewHair">
                            {{ form_label(updateForm.newHair) }}
                            {{ form_widget(updateForm.newHair) }}
                        </div>
                    </div>

                    <div class="genre">
                        <div class="EntityGenre">
                            {{ form_label(updateForm.genre) }}
                            {{ form_widget(updateForm.genre) }}
                        </div>
                        <div class="newGenre">
                            {{ form_label(updateForm.newGenre) }}
                            {{ form_widget(updateForm.newGenre) }}
                        </div>
                    </div>

                    <div class="city">
                        <div class="EntityCity">
                            {{ form_label(updateForm.city) }}
                            {{ form_widget(updateForm.city) }}
                        </div>
                        <div class="newCity">
                            {{ form_label(updateForm.newCity) }}
                            {{ form_widget(updateForm.newCity) }}
                        </div>
                    </div>

                    <div class="interestUsers">
                        <div class="EntityInterestUsers">
                            {{ form_label(updateForm.interestUsers) }}
                            {{ form_widget(updateForm.interestUsers) }}
                        </div>
                        <div class="newInterestUsers">
                            {{ form_label(updateForm.newInterestUsers) }}
                            {{ form_widget(updateForm.newInterestUsers) }}
                        </div>
                    </div>
                </div>

                <div class="search">
                    <div class="searchGenre">
                        {{ form_label(updateForm.searchGenre) }}
                        {{ form_widget(updateForm.searchGenre) }}
                    </div>
                    <div class="searchAgeMin">
                        {{ form_label(updateForm.searchAgeMin) }}
                        {{ form_widget(updateForm.searchAgeMin) }}
                    </div>
                    <div class="searchAgeMax">
                        {{ form_label(updateForm.searchAgeMax) }}
                        {{ form_widget(updateForm.searchAgeMax) }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">Register</button>
        </div>
    {{ form_end(updateForm) }}
{% endblock %}