{% extends 'base.html.twig' %}

{% block body %}

{#    <style>#}
{#        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }#}
{#        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }#}
{#    </style>#}
    {% if user %}
        <div class="title">
            <h2>{{ app.user.username }}</h2>
            <p>Nous t'avons selectionnés des {{ utilised }}
                {% if user.search.ageMin and user.search.ageMax %}
                qui ont entre {{ app.user.search.ageMin }} et  {{ app.user.search.ageMax }} ans.
                {%  else %}
                    selon tes préférences
                {% endif %}
            </p>
        </div>

    {% endif %}
    <div class="example-wrapper">
        {% for matcher in matchers %}
            <div class="matcher">

                <div class="picture"><img src="{{ asset(matcher.dirAvatar ~ matcher.avatar) }}" alt="{{ matcher.username }}'s avatar"/></div>
                <div class="content">
                    <div class="username">
                        {% if user %}
                            <h2><a href="view/{{ matcher.id }}"> {{ matcher.username }}</a></h2>
                        {% else %}
                            <h2>{{ matcher.username }}</h2>
                        {% endif %}
                    </div>
                    <div class="age">
                        <p>Age: {{ matcher.age }} ans</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <div id="matcherName"></div>

        <script>


            const divMatcherName = document.getElementById('matcherName');
            {% for matcher in matchers %}
            username2 = {{ matcher.username }}
                const userNameDiv = document.createElement("h2");
                userNameDiv.textContent = username2;
                divMatcherName.appendChild(userNameDiv);
                console.log(username2);
                {#console.log({{ matcher }});#}
                {#userNameDiv.innerText = {{ matcher.username }};#}
            {% endfor %}

        </script>
    {% block javascripts %}
    {% endblock %}
{% endblock %}
