{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

        <div class="example-wrapper">
                {% if matcher.id != user %}
                        <h2>{{ matcher.username }}</h2>
                {% endif %}
                <div class="main_matcher">
                        <div class="matcher">
                                <div class="picture">
                                        <img src="{{ asset(matcher.dirAvatar ~ matcher.avatar) }}" alt="{{ matcher.username }}'s avatar"/>
                                </div>
                                <div class="content">
                                        <p>Age: {{ matcher.age }} ans</p>
                                        <p>Description: {{ matcher.description }}</p>
                                        <p>mail: {{ matcher.mail }}</p>
                                        <p>Genre: {{ matcher.genre }}</p>
                                        <p>Search: {{ matcher.searchGenre }}</p>
                                        <p>City: {{ matcher.city }}</p>
                                        <p>Hair: {{ matcher.hair }}</p>
                                        <p>Main focus : {{ matcher.interests }}</p>
                                </div>
                        </div>
                        {% if matcher.id == user %}
                                <a href="./updateView/{{ matcher.id }}"><button class="btn">{{ button_label|default( 'Modify profil' ) }}</button></a>
                                <a href="/block/view"><button class="btn">{{ button_label|default( 'block list' ) }}</button></a>
                        {% else %}
                                <a href="/conversations/{{ matcher.id }}"><button class="btn">{{ button_label|default( 'Contact me ' ) }}</button></a>
                                <a href="/block/block/{{ matcher.id }}"><button class="btn">{{ button_label|default( 'block ' ~ matcher.username ) }}</button></a>
                        {% endif %}
                </div>
        </div>
        {% if user != matcher.id  %}
                <div class="messenger">

                </div>
        {% endif %}
        {#    <div id="matcherName"></div>#}
{% endblock %}
{#{% block javascripts %}#}
{#<script>#}
{#    {% for matcher in matchers %}#}
{#        username2 = '{{ matcher.username }}'#}
{#    {% endfor %}#}

{#    const divName = document.getElementById('matcherName');#}
{#    const userName = document.createElement("h2");#}
{#    userName.textContent = username2;#}
{#    divName.appendChild(userName);#}
{#    console.log(username2);#}
{#    #}{#console.log({{ matchers }});#}
{#    #}{#userName.innerText = {{ matcher.username }};#}

{#</script>#}
{#{% endblock %}#}