body{
    margin: 0;
}
.nav_area{
    background-color: #a8a8a8;
}
.main_nav {
    width: 30em;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.main_nav a{
    color: #ac1511;
    text-decoration: none;
}

.welcome :nth-child(n) {
    margin-bottom: 0;
}
.title :nth-child(n) {
    margin-top: 0;
}

.title p {
    font-size: larger;
    margin-left: 2em;
}

h2 {
    font-size: xx-large;
    text-align: center;
}

.matcher {
    display: flex;
    flex-direction: row;
    width: 30em;
    height: auto;
    justify-content: space-evenly;
    border: 2px solid #ac1511;
    border-radius: 30px;
    margin: 1em;
    box-shadow: 2px 3px 5px black, -2px -3px 5px black;
}
.content {
    padding-top: 1em;
}

.example-wrapper {
    margin: 1em auto;
    width: 80%;
    font: 18px/1.5 sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.example-wrapper img{
    height: 300px;
    width: 225px;
    border: #FFFFFF solid 1px;
    border-radius: 50px;
}
.test {
    width: 85%;
    margin: 0 auto;
}
.main_form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.content_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.presentation {
    width: 33%;
}
.presentation :nth-child(n) {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.presentation :nth-child(1n +2) {
    margin-top: 1em;
}

.caracteristiques {
    width: 33%;
}
.caracteristiques :nth-child(n) {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.caracteristiques :nth-child(1n+2) {
    margin-top: 1em;

}
.upload {
    width: 33%;
}
.upload :nth-child(n) {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.upload :nth-child(n) {

}
#mainMessage {
    width: 90%;
    margin: 0 auto;
}
#listMessage {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.contentTime {
    width: 30%;
    color: #0000003d;
    margin: 1em 1em;
}
.content {
    padding-top: 1em;
    font-weight: bold;
    margin: 1em auto;
    padding-right: 1em;
}
.sender, .receiver {
    width: 20em;
    border-radius: 10%;
    display: flex;
    margin: 1em;
}
.sender {
    background-color: beige;
    align-self: self-start;
}
.receiver {
    background-color: bisque;
    align-self: self-end;
}
#cta {
    display: flex;
    flex-direction: row;
}
.profil {
    margin-left: 1em;
}
.userConversation {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
    align-items: center;
}
.messageVu {
    width: 200px;
}