{% extends 'base.html.twig' %}

{% block title %}Edit Conversations{% endblock %}

{% block body %}
    <h1>Edit Conversations</h1>

    {{ include('conversations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('conversations_index') }}">back to list</a>

    {{ include('conversations/_delete_form.html.twig') }}
{% endblock %}
