{% extends 'base.html.twig' %}

{% block title %}Conversations index{% endblock %}

{% block body %}
    <div id="mainMessage">
        <a href="/block/block/{{ receiver.id }}"><button class="btn">{{ button_label|default( 'block ' ~ receiver.username ) }}</button></a>
        <h1>Your conversation with {{ receiver.username }}</h1>

        <div id="cta">
            <div class="button_message">
                {% if conversation is empty %}
                    <a href="{{ path('conversations_new', {'id': receiver.id, 'conv': 0}) }}"><button class="btn">{{ button_label|default('New conversation') }}</button></a>
                {% else %}
                    <a href="{{ path('conversations_new', {'id': receiver.id, 'conv': conversation.id}) }}"><button class="btn">{{ button_label|default('Continue to talk') }}</button></a>
                {% endif %}
            </div>
            <div class="profil">
                <a href="/view/{{ receiver.id }}"><button class="btn">{{ button_label|default('retour au profil de '~receiver.username)}}</button></a>
            </div>
        </div>
            <div id="listMessage">
                {% for message in messages %}

                    <div class="{{ message.classMessage }}">
                        <p class="contentTime">{{ message.createdAt ? message.createdAt|date('Y-m-d H:i') : '' }}</p>
                        <p class="content">{{ message.content }}</p>
                    </div>
                {% else %}
                    <p>no conversation found</p>
                {% endfor %}
            </div>
    </div>
{% endblock %}
