{% extends 'base.html.twig' %}

{% block body %}
    <h1>You're writing a message to {{ receiver.username }}</h1>

{#    {{ include('conversations/_form.html.twig') }}#}
    {{ form(form) }}

    <a href="/conversations/{{ receiver.id }}">back to list</a>
{% endblock %}
