{% extends 'base.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block body %}
<div id="mainMessage">

    <h1>Conversations</h1>

    {% if conversations %}
            {% for conversation in conversations %}
                {% for lastMessage in lastMessages %}
                    {% if lastMessage[0].conversation.id == conversation.id %}

                        <fieldset class="userConversation">
                            <legend>{{ conversation.whoUserRead.username }}</legend>
                            <a href="/conversations/del/{{ conversation.id }}">{{ include('conversations/_delete_form.html.twig') }}</a>
                            <a href="/conversations/{{ conversation.whoUserRead.id }}"><button class="btn">{{ button_label|default('Talk') }}</button></a>
                            {% if lastMessage[0].senders.id != conversation.whoUserRead.id %}
                                {% if lastMessage[0].readAt %}
                                    {% if lastMessage[0].dateMessage1day < date('now') %}
                                        <p class="messageVu">Dernier message vu le {{ lastMessage[0].readAt | date('d/m/Y H:i')}}</p>
                                    {% else %}
                                        <p class="messageVu">Dernier message vu à {{ lastMessage[0].readAt | date('H:i')}}</p>
                                    {% endif %}
                                {% else %}
                                    <p class="messageVu">Dernier message non vu</p>
                                {% endif %}
                            {% elseif lastMessage[0].readAt %}
                                <p class="messageVu">Pas de nouveaux messages</p>
                                {% else %}
                                    <p class="messageVu">Nouveau message</p>
                            {% endif %}


                        </fieldset>
                    {% endif %}
                {% endfor %}
{#                </tr>#}
            {% endfor %}
{#            </tbody>#}
{#        </table>#}
    {% else %}
        <p>Il n' y a pas de conversation en cours !</p>
    {% endif %}
</div>
{% endblock %}
