<form method="post" action="{{ path('del_block', {'id': UsernameBlocking.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ UsernameBlocking.id) }}">
    <button class="btn">Delete</button>
</form>