{% extends 'base.html.twig' %}

{% block title %}Block list{% endblock %}

{% block body %}

    <h1>Block list</h1>

    {% if listUsernamesBlocking %}
        <table class="table">
            <thead>
            <tr>
                <th>Blocked</th>
                <th>CreatedAt</th>
                <th>Unblock</th>
            </tr>
            </thead>
            <tbody>
            {% for UsernameBlocking in listUsernamesBlocking %}
    {#            dump( {{ conversation.whoIdTalk }} )#}
                <tr>
                    <td>{{ UsernameBlocking.blocked.username }}</td>
                    <td>{{ UsernameBlocking.createdAt ? UsernameBlocking.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td><a href="{{ path('del_block', {'id': UsernameBlocking.id}) }}">{{ include('block/_delete_form.html.twig') }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n' y a pas d'utilisateur bloqué!</p>
    {% endif %}

{% endblock %}