<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Matcher{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href=" {{ asset('CSS/main.css') }}">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="nav_area">
            <nav class="main_nav">
                {% if user %}
    {#                dump({{ user.id }})#}
                    <a href="{{ path('main') }}">Reception</a>
                    <a href="{{ path('view',{id: app.user.id} ) }}">My profil</a>
                    <a href="{{ path('conversations_show',{id: app.user.id} ) }}">My mailbox</a>
    {#                <a href="conversations/show/{{ user }}"> Ma messagerie</a>#}
                    <a href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Login</a>
                    <a href="{{ path('app_register') }}">Register</a>
                {% endif %}
            </nav>
        </div>
        <div class="welcome">
            <h2>Welcome on <em>Matcher</em></h2>
        </div>
        {% block body %}
        {% endblock %}
    </body>

</html>

